@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/* Landing Page */

.AppLogo{
  width: 130px;
  margin-right: 0;
}

.navbar {
  background: #242526;
  border-bottom: #ebd72d 4px solid;
  height: 130px;
}

.landingBtn {
  display: inline;
  color: #000000;
  border: none;
  font-family: 'Pacifico';
  background: #ebd72d;
  padding: 15px;
  margin: 0 20px;
}
.carousel{
    margin: auto;
    width: 80%;
    padding: 2.1px;
}

.landingBtn:hover {
  color:#727981;
  background: #ffe400;
}

.d-block {
  height: 520px;
  margin:auto;
}

.Separator {
  min-height:40px;
}

.landingNav {
  float:right;
  margin: auto;
  margin-left:0;
  margin-right: 0;
}

.landingNav Dropdown{
  float: right;
}

.landingNav Dropdown li {
  list-style-type: none;
} 

.videoPlayer {
  border-top: #ebd72d 4px solid;
  background: #242526;
  
}

.videoPlayer video {
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.landingt{
  background: #242526;
  text-align: center; 
}
  .landingt1{
  color: #ebd72d;
  font-family: 'Pacifico'
}
/* Get Info */

.infoWrapper {
  float: left;
  width: 30%;
  max-height: 100vh;
  border-right: #242526 solid 3px;
  background: #242526;
  font-Family: 'Pacifico'; 
  text-align: center;
  text-transform: uppercase;
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.infoWrapper button {
  color: rgb(0, 0, 0);
  background: #ebd72d;
  padding: 10px;
  width: 80%;
  border: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom:20px; 
}

.infoWrapper button:hover {
  background: #ffe400;
}

.info input,select {
  text-align:center;
  margin: 5px;
  border:1px solid;
  padding:11px;
  width: 80%;
  color:#242526;
  font-size: 15px;
}
.info h2{
color:#ebd72d;
text-transform: capitalize;
}

.info{
  text-align: center;
  margin-top:50px;
}

.info p{
  margin-bottom: 60px;
}

.textarea{
  width:80%;
  border: 1px solid;
  text-align: center;
  max-height: 140px;
}

.tempWrapper {
  background: #e8e8e8;
  width: 70%;
  float: right;
  max-height: 100vh;
  overflow-y:scroll;
  padding-bottom: 40px; 
}

/* New */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;  
}

body {
  min-height: 100%;  
  background: #e8e8e8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}


.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;
} 

.first-name, .last-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
.first-name {
    font-weight: 700;
  }
  
.last-name {
    font-weight: 300;
  }
  
.contact-info {
    margin-bottom: 20px;
  }
  
.email ,.phone {
    color: #999;
    font-weight: 300;
  } 
  
.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }



.details {
  line-height: 20px;
}
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 40px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 60%;    
  }
  
  .right {
    text-align: right;
    width: 39%;    
  }
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }

  .skills__item {
    margin-bottom: 10px;  
  }
  
  .skills__item .right input{
      display: none;
    }
    
    label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    
    input:checked + label {
      background: #79A9CE;
    }

    @media print {
     
      .infoWrapper {
        visibility: hidden;
      }

      .tempWrapper{
        visibility: hidden;
      }

      .container{
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        -webkit-print-color-adjust: exact; 
      }
    }

    

    


  





















